QToolButton {
    background: %1;
    color: %2;
    border: 1px solid palette(mid);
    border-radius: 4px;
}

QToolButton:hover {
    border: 2px solid %2;
}

QToolButton:checked {
    border: 2px solid palette(text);
    padding: 2px;
    background-clip: content;
}

QToolButton:focus {
    border: 2px dashed %2;
}

QToolButton:checked:focus {
    border: 2px dashed palette(text);
}
